// size
$size01:100%;
$size02:2px;
$size03:19px;
$size04:15px;
$size05:42px;
$size06:324px;
$size07:49px;
$size08:16px;
$size09:146px;



// colors
$color01:#fff;
$color02:#5863F8;
// fonts
$font-size01:16px;
$font-size02:15px;
$font-size03:30px;
$font-size04:14px;
$font-size05:10px;
$font-size06:20px;

// font-family
$font01:'Poppins';

// texts
$transform01:uppercase;
$transform02:capitalize;


// psition
$position01:relative;
$position02:absolute;
